---
import MainLayout from "../layouts/MainLayout.astro";
import CatalogoProductos from "../components/Catalogo.tsx";
---

<MainLayout>
  <section class="py-15">
    <CatalogoProductos client:load/>
  </section>
</MainLayout>
