---
import Facebook from "../../public/facebook.svg?url";
import Instagram from "../../public/instagram.svg?url";
import Tiktok from "../../public/tiktok.svg?url";
---

<section id="contactos" class="p-6 bg-gray-800 w-full h-auto">
  <div
    class="text-amber-50 w-full h-auto p-6 my-3
  bg-gray-700/40 /* Fondo semitransparente oscuro */
    backdrop-blur-xl /* Desenfoque (efecto vidrio esmerilado) */
    rounded-2xl /* Esquinas redondeadas */
    border border-white/10 /* Borde sutil */
    shadow-2xl
    max-w-xl mx-auto /* Centrado horizontalmente */"
  >
    <h2 class="text-center text-2xl font-bold m-0 p-0">Contacto</h2>
    <p class="text-center">
      Si tienes alguna pregunta, no dudes en contactarnos.
    </p>
    <!-- Formulario de contacto -->
    <form class="space-y-2">
      <label for="name" class="">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        class="w-full border mt-2 p-1 outline-none
        /* CLASES PARA EL EFECTO DE FOCO */
        focus:border-white focus:border-opacity-100 /* Borde blanco completo al enfocar */
        focus:ring-2 focus:ring-white/50 /* Anillo de luz sutil al enfocar */"
      />
      <br />
      <label for="email">Correo Electrónico:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="w-full border mt-2 p-1 outline-none
        /* CLASES PARA EL EFECTO DE FOCO */
        focus:border-white focus:border-opacity-100 /* Borde blanco completo al enfocar */
        focus:ring-2 focus:ring-white/50 /* Anillo de luz sutil al enfocar */"
      />
      <br />
      <label for="message">Mensaje:</label>
      <textarea
        id="message"
        name="message"
        required
        class="w-full border mt-2 p-1 h-32 outline-none resize-none
        /* CLASES PARA EL EFECTO DE FOCO */
        focus:border-white focus:border-opacity-100 /* Borde blanco completo al enfocar */
        focus:ring-2 focus:ring-white/50 /* Anillo de luz sutil al enfocar */"
      ></textarea>
      <br />
      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 cursor-pointer m-auto block w-1/2"
        >Enviar</button
      >
    </form>
    <!-- Fin del formulario de contacto -->
  </div>
  <!-- Redes sociales -->
  <h3 class="mt-6 text-center text-amber-50">
    También puedes consultar por nuestras Redes Sociales
  </h3>
  <div class="flex justify-center items-center space-x-10 mt-4">
    <a href="#">
      <img
        src={Facebook}
        alt="Facebook"
        class="w-10 h-10 hover:scale-110 transition-transform duration-200"
      />
    </a>
    <a href="#">
      <img
        src={Tiktok}
        alt="Tiktok"
        class="w-10 h-10 hover:scale-110 transition-transform duration-200"
      />
    </a>
    <a href="#" class="">
      <img
        src={Instagram}
        alt="Instagram"
        class="w-10 h-10 hover:scale-110 transition-transform duration-200"
      />
    </a>
  </div>
  <!-- Fin de las redes sociales -->
</section>
