---
const year = new Date().getFullYear();

interface menuItemsP {
  src: string | URL | null | undefined;
  name: String;
}

const menuItems: menuItemsP[] = [
  { src: "/", name: "Inicio" },
  { src: "#productos", name: "Productos" },
  { src: "#ofertas", name: "Ofertas" },
  { src: "#contactos", name: "Contactos" },
  { src: "#redes", name: "Redes Sociales" },
];
---

<footer class="text-red-100 bg-gray-700 pb-4 pt-1 text-center">
  <div class="h-52">
    <nav class="mt-1">
      <ul class="flex justify-center items-center flex-col list-none pb-1">
        {
          menuItems.map((item) => (
            <li class="py-1 border-b border-gray-400 m-0 w-32 hover:bg-gray-600">
              <a class="decoration-none hover:text-red-300" href={item.src}>
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <h3 class="p-4 mt-2 bg-gray-800 text-sm text-white">
      © {year} Mi Empresa Todos los derechos reservados.
    </h3>
  </div>
</footer>
