---

---

<!-- Hero.astro -->
<section class="relative w-full h-screen z-0">
  <!-- Fondo Hero -->
  <div
    class="absolute inset-0 bg-[url(https://i.pinimg.com/1200x/5f/8f/2f/5f8f2fd0c354d6494a4670f53ba84f36.jpg)] bg-cover bg-center /*mask-b-from-50% mask-b-to-100%*/"
  >
  </div>
  <!-- Fin Fondo Hero -->
  <!-- Contenido Hero -->
  <div
    class="p-4 relative z-10 flex flex-col items-center justify-center h-full text-white bg-gray-500/30"
  >
    <!-- Titulo principal -->
    <div class="absolute top-20 p-4 mx-4">
      <h1 class="text-5xl font-bold text-center">SUPER HERO</h1>
      <h2 class="text-3xl font-semibold text-center mt-2">
        Tu tienda de confianza
      </h2>
    </div>
    <!-- Fin Titulo principal -->
    <div
      class="absolute bottom-10 flex flex-col items-center px-4 text-gray-800"
    >
      <p class="mt-4 text-xl font-semibold text-center text-white">
        Explora nuestros productos y ofertas exclusivas
      </p>
      <a
        href="#productos"
        class="mt-6 px-6 py-3 bg-black/90 rounded-lg hover:bg-gray-800 text-white font-semibold transition-colors"
        >Ver Productos</a
      >
    </div>
  </div>
  <!-- Fin Contenido Hero -->
</section>
